<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.descripcion | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ product.precio |currency:"S/ ":"symbol"}}</mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.img" alt="">
  </div>
  <mat-card-content>
    <p><b>Marca:</b> {{ product.marca | slice:0:10 }}</p>
    <p><b>Stock:</b> {{ product.stock }}</p>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <!-- <a mat-raised-button [routerLink]="['/products', product.id]">Ver detalle</a> -->
    <button (click)="addCart()" mat-raised-button color="primary">Agregar al carrito</button>
  </mat-card-actions>
</mat-card>
<!-- <h3 appHighlight>{{ product.title | uppercase }}
<img [src]="product.image" alt="">
<strong>{{ product.price | currency }}</strong>
<p>{{ product.description | slice:0:10 }}</p>
<p>{{ today | date:'HH:mm' }}</p> -->

